/* 폰트는 노트산스로 가져와서 통일하였습니다. */
@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Noto+Sans+KR:wght@500&display=swap");

* {
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

.mytitle {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

/* 검색창 정렬 방법입니다.*/
.wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

input,
button {
  padding: 5px 10px;
  margin: 5px;
}

/* 리스트 정렬 방법입니다.*/
/* 중간 정렬이라 마지막 행이 중앙으로만 오는 이슈가 있었습니다. 반응형이기에 최선의 방법이었습니다.
그래서 768px 값의 맥스값을 설정해주어 모바일 환경에 맞게 맞춰보려고 하였습니다.*/
#list {
  margin : 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  float: left;
  justify-content: center;
  text-size-adjust: 10px;
  font-size: 10px;
}

#list > li {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 10px 15px 10px 15px;
}

#list > li > img {
  background-size: cover;
  border-radius: 10px 10px 0px 0px;
}

.card-image {
  width: 100%;
  border-radius: 10px;
}

.card-title,
.card-overview,
.card-average {
  margin: 10px
}


@media (max-width:768px) {}